h1{
	color: blue;
}

#subheader{
	text-align: right;
	color: orange;
}

p { 
	text-align: justify
	margin: 0 20%;
 }

#nav li {
	display: inline;
    margin-right: 15;
}

#nav a {
	text-decoration: none;
}

#nav a:hover { 
	text-decoration:underline;
}