h1{
	color: white;
	background-color: rgb(200,200,200);
}

#subheader{
	text-align: right;
	color: white;
	background-color: DarkCyan;	
}

p { 
	text-align: justify
	color: #ee3e80;
	margin: 0 20%;
	background-color: white;
 }

#nav li {
	display: inline;
    margin-right: 15;
}

#nav a {
	text-decoration: none;
}

#nav a:hover { 
	text-decoration:underline;
}